header{grid-area: header;}
main{grid-area: main;}
nav{grid-area: nav;}
.footerLogos{grid-area: footerLogos;}
.footerCopyright{grid-area: footerCopyright;}

@media (max-width:640px){
    .container{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "nav"
        "header"
        "main"
        "footerLogos"
        "footerCopyright";
    }

    #navHeadline{display: none;}
    #footerHeadline{display: none;}

   

    nav{padding: 1rem;}

    nav ul{
        display: flex;
        justify-content: space-around;
    }
    nav a{
        font-size: 0.7rem;
        padding: 0rem;
    }
    
    h2{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .headerTextContainer{
        margin: 9%;
        width: 70%;
        height: 68%;
    }

    header h1{
        font-size: 2.5rem;
        font-weight: bold;
        padding-top: 0.5rem;
        left: 10%;
        top: 10%;
    }
    header h2{
        font-size: 1.7rem;
        font-weight: bold;
        padding: 2rem 0rem;
        left: 10%;
        top: 22%;
    }

    fieldset{
        width: 75%; 
    }
}

@media (min-width:641px){
    .container{
        display:grid;
        grid-template-columns: 1fr 1 fr 1fr 1fr 1fr;
        column-gap: 1rem;
        grid-template-areas:
        "header header header header header"
        "nav main main main main"
        "footerLogos footerLogos footerLogos footerLogos footerLogos"
        "footerCopyright footerCopyright footerCopyright footerCopyright footerCopyright";
    }

    h2{font-size: 2.6rem;}
    h3{font-size: 1.6rem;}

    nav{
        margin-left: 0.6rem;
        padding-top: 3.8rem;
    }

    nav h2{
        text-transform: uppercase;
        font-size: 1.8rem;
        padding-bottom: 3rem;
        text-align: center;
        box-shadow: 0 8px 10px -10px #848581;
    }

    nav ul{text-align: left;}

    nav li{
        box-shadow: 0 8px 15px -15px #afb1ac;
        padding: 0rem 5rem;
    }

    nav a{font-size: 1.5rem;}

    .topLevelMenu li{padding: 0.1rem 3rem;}
    
    .second-level-menu{border-radius: 10%;}

    main{
        margin-right: 0.6rem;
        padding-top: 3.3rem;
    }

    .img{
        max-width: 95%;
        margin: 1rem 1.5rem;
        box-shadow: 0 0 15px 5px #848581;
    }

    .imgFull{
        max-width: 97%;
        margin: 2rem auto;
        box-shadow: 0 0 15px 5px #848581;
    }

    .flex{display: flex;}
    .artFlexItem{flex: 1;}
    .flexLogos{padding: 1rem;}

    footer h2{
        font-size: 1rem;
        padding: 1rem;
        text-align: center;
        box-shadow: 0 5px 10px -10px #848581;
    }
}
