body{
    background: #585450;
}

h1, h2, h3, nav a{font-family: 'Montserrat', Arial, Helvetica, sans-serif;}
p, p a{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 0rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.headerImgContainer{
    position: relative;
    width: 100%;
}

.headerImg{
    width: 100%;
    box-shadow: 0 10px 10px #362D26;
}

header h1, header h2{
    z-index: 100;
    position: absolute;
    color: #ffffff;
    font-family: 'Special Elite', cursive;
    text-shadow: -1px -1px 0 #242424;
}
header h1{
    font-size: 6rem;
    left: 7%;
    top: 18%;
}
header h2{
    font-size: 4.6rem;
    left: 7%;
    top: 40%;
    padding-top: 3rem;
}

.headerTextContainer{
    width: 1000px;
    height: 250px;
    background-color: #7e7b7bbe;
    margin: 10%;
    border-radius: 3%;
    position: absolute;
}

nav, main, footer{background: #f7fae7f2;}

nav h2{
    text-transform: uppercase;
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
    text-align: center;
    box-shadow: 0 8px 10px -10px #848581;
}

nav ul{list-style: none;}

nav a{
    text-decoration: none;
    color: #242424;
    text-transform: uppercase;
}

#active{font-weight: bolder;}

main{padding: 2rem 0rem;}

article{padding:0rem 1.5rem;}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#imgFloatRight{
    float: right;
}

