body{background: #585450;}

h2, h3, nav a{font-family: 'Montserrat', Arial, Helvetica, sans-serif;}

h2{padding: 0rem 1.5rem 1.7rem 1.5rem;}

p, p a{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.headerImgContainer{
    position: relative;
    width: 100%;
}

.headerImg{
    width: 100%;
    box-shadow: 0 10px 10px #362D26;
}

header h1, header h2{
    z-index: 100;
    position: absolute;
    color: #ffffff;
    font-family: 'Special Elite', cursive;
    text-shadow: -1px -1px 0 #242424;
}
header h1{
    font-size: 6rem;
    left: 7%;
    top: 18%;
}
header h2{
    font-size: 4.6rem;
    left: 7%;
    top: 40%;
    padding-top: 3rem;
    padding-left: 0rem;
}

.headerTextContainer{
    width: 66%;
    height: 30%;
    background-color: #7e7b7bbe;
    margin: 10%;
    border-radius: 3%;
    position: absolute;
}

nav, main, footer{background: #f7fae7f2;}

nav ul{list-style: none;}

nav a{
    text-decoration: none;
    color: #242424;
    text-transform: uppercase;
}

#active{font-weight: bolder;}

main{padding: 2rem 0rem;}

img {
    display: block;
    max-width: 100%;
}

.img{
    margin: 1rem 0rem;
}

.flexLogos{
    display: flex;
    justify-content: space-around;
    padding: 0.7rem;
}

.footerLogos{background-color: #e4e4e4f2;}
.footerCopyright{background-color: #c7c4c4f2;}

#copyright, footer p a{
    font-style: italic;
    text-align: right;
    font-size: 0.9rem;
}

#copyright{padding: 0.6rem 1.5rem;}
footer p a{padding: 0rem;}
